<!DOCTYPE html>
<html>
<head>
<title>Welcome to my web server!</title>
<style>
	body {
    	width: 35em;
    	margin: 0 auto;
    	font-family: Tahoma, Verdana, Arial, sans-serif;
	}
</style>
</head>
<body>
<h1>Welcome to installed on {{ ansible_fqdn }} with Ansible! </h1>
<h2>My web server, running at {{ ansible_eth1.ipv4.address }}</h2>
<p>If you see this page, httpd server is successfully installed and
working. Further configuration is required.</p>
</body>
</html>
